@charset "utf-8";
* {
    font-family: 'Jua', sans-serif;
}

h1 {
    display: inline;
    color: chocolate;
    margin-bottom: 20px;
}

.mkt {
    margin-bottom: 20px;
}

.ShowDB {
    position: fixed;
    left: 900px;
    top: 30px;
    width: 100px;
    color: white;
    z-index: 1;
}

.all {
    alignment: left;
    /*margin: auto;*/
    width: 700px;
}

.apply {
    text-align: center;
}