<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>resume</title>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!--js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    파일업로드 JS-->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <!--CSS 별도 파일 연결-->
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script type=text/javascript src="{{  url_for('static', filename='index.js') }}"></script>

</head>
<body>
<!--showDB open-->
<div class="ShowDB">
    <button onclick="window.open('list')" type="button" class="btn btn-primary">Show ME DB</button>

</div>

<div class="all">

    <!-- 마케터 info div    -->
    <div class="mkt">
        <h1>마케터 DB등록</h1>
    </div>
    <div class="mki_info">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">DB기록자</label>
                <!--                <label class="input-group-text" for="author">DB기록자</label>-->
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <!--                <select class="custom-select" id="author">>-->
                <option selected></option>
                <option value="김필재">김필재</option>
                <option value="장유나">장유나</option>
                <option value="이상민">이상민</option>
                <option value="최휘영">최휘영</option>
                <option value="박원준">박원준</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="writer">DB구분</label>
            </div>
            <select class="custom-select" id="writer">
                <option selected></option>
                <option value="1">아웃서치(사람인)</option>
                <option value="2">아웃서치(리멤버)</option>
                <option value="3">아웃서치(링크드인)</option>
                <option value="4">지인 추천</option>
                <option value="5">인재풀</option>
                <option value="6">모비 이벤트</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">이름</span>
            </div>
            <input type="text" class="form-control" id="mktName" placeholder="이름을 적어주세요." aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">출생연도</span>
            </div>
            <input type="text" class="form-control" id="mktBirth" placeholder="출생 연도를 적어주세요." aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">이메일</span>
            </div>
            <input type="text" class="form-control" id="mktEmail" placeholder="이메일을 적어주세요." aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">연락처</span>
            </div>
            <input type="text" class="form-control" id="mktPhone" placeholder="'-'를 제외하고 적어주세요"
                   aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">현재 연봉</span>
            </div>
            <input type="int" class="form-control" placeholder="만원 단위 제외하고 적어주세요" id="mktSalary" aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">학교</span>
            </div>
            <input type="text" class="form-control" id="mktUn" placeholder="학교를 적어주세요." aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">연차</span>
            </div>
            <input type="int" class="form-control" placeholder="" id="mktCareer" aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">재직 회사수</span>
            </div>
            <input type="int" class="form-control" placeholder="" id="mktCom" aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>


        <form>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">이력서 파일</span>
                </div>
                <div class="custom-file">
                    <input type="file" id="ajaxFile"/>
                    <input type="file" class="custom-file-input" id="resume"
                           aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="resume">파일 선택</label>
                </div>
            </div>
        </form>

        <script>
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val()
                // .split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        </script>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon02">포트폴리오</span>
            </div>
            <div class="custom-file">
                <input type="file" name="title" class="custom-file-input" id="portfolio"
                       aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="portfolio">파일 선택</label>
            </div>
        </div>
        <div class="apply">
            <button onclick="onboarding()" type="button" class="btn btn-primary">DB등록</button>
        </div>
    </div>
</div>
</body>
</html>